# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=wvr Coin
Comment=wvr Coin QT test network
GenericName=wvr Digital Currency QT client testnet network
Exec=wvr-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/wvr_testnet.png
MimeType=x-scheme-handler/wvr;
Categories=X-Office;X-Finance;
Keywords=internet;wvr;zwvr;twvr;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
