# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=wvr Coin Daemon SNAP
Comment=main
GenericName=wvr Digital Currency Daemon Client main network
Exec=wvr-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/wvr.png
MimeType=x-scheme-handler/wvr;
Categories=X-Office;X-Finance;
Keywords=internet;wvr;zwvr;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
